/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
  background-color: rgba(0, 0, 0, 0.2)

}

header {
  background-color: rgba(255, 0, 0, 0.5)
}

.header_link {
  padding: 64px 11px 4px 11px;
}

.button {
  font: 11px;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #CCCCCC;
  border-left: 1px solid #333333;
}

.site_header_style {
  background-color: #FF0000
}

.character_header_text {
  font: 8px;
  text-decoration: none;
  color: #f12a34;
  border-top: 1px solid #000000;
}

.character_sheet_header {
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(125, 125, 125, 0.5);
}

.logo {
  padding: 64px 11px 4px 11px;
}
